.navbar-container{
  display: flex;
  margin-left: 70%;
  justify-content: space-around;
  margin-top: 0;
  padding-top: 1rem;
}

.menu-item{
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-item a{
  color: white;
  text-decoration: none ;
}

a.underlined {
  text-decoration: underline;
  color: rgba(235, 47, 119, 0.979);
}